@media (max-width: 1200px) {
  body {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .left-side {
    margin-right: 20.32em;
  }
  .right-side {
    margin-right: 2.032em;
    margin-left: 2.032em;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .qr {
    display: none;
  }
}
@media (min-width: 1201px) {
  body {
    justify-content: center;
    width: auto;
    height: auto;
  }
  .right-side {
    margin-left: 10.032em;
  }
  .paragraph {
    max-width: max-content;
  }
  .pro-paragraph {
    max-width: 30em;
  }
  .skills {
    max-width: max-content;
  }
}
