/*---- Title ----*/

body {
  display: flex;
  margin: 0px;
}
.left-side {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}
.right-side {
  display: flex;
  flex-direction: column;
  max-width: 45em;
}
.container-color {
  max-width: 23em;
  max-height: 18em;
  padding-left: 2.5em;
  padding-top: 6.125em;
  padding-bottom: 10em;
  padding-right: 1.875em;
  margin-bottom: 1.5em;
  background-color: #030325;
}
.name {
  font-family: "OCR A Extended";
  font-size: 1.6em;
  color: white;
}
.job {
  font-family: "Prompt", sans-serif;
  font-size: 1.7em;
  font-weight: 100;
  color: white;
  padding-top: 1.4em;
}
.heading {
  font-family: "OCR A Extended";
  font-size: 2em;
  color: #050622;
  padding-bottom: 0.75em;
  font-weight: 600;
}
.p-info {
  display: flex;
  flex-direction: column;
  padding-left: 2.5em;
  padding-bottom: 0.8em;
  padding-right: 1.56em;
  padding-top: 1.75em;
}
.p-info-child {
  font-family: "Prompt", sans-serif;
  font-size: 1.56em;
  line-height: 1.8em;
  color: #050622;
  display: flex;
}

.left-align {
  padding-right: 1em;
}

.profile {
  display: flex;
  flex-direction: column;
  padding-left: 2.5em;
  padding-bottom: 0.4em;
  padding-right: 1.56em;
}
.paragraph {
  max-width: 10.65em;
  line-height: 0.6em;
  font-family: "Prompt", sans-serif;
  font-size: 1.56em;
  color: #050622;
}

.pro-paragraph {
  max-width: 20em;
  line-height: 1.8em;
  font-family: "Prompt", sans-serif;
  font-size: 1.56em;
  color: #050622;
}
.skills {
  display: flex;
  flex-direction: column;
  padding-left: 2.5em;
  padding-bottom: 1.56em;
  padding-right: 1.56em;
  max-width: 40em;
  line-height: 1.25;
}
.skill-column {
  display: flex;
  padding-top: 1.56em;
}
.sub-heading {
  font-family: "Prompt", sans-serif;
  font-size: 1.56em;
  font-weight: 600;
  color: #050622;
  width: 10.92em;
}
#lang-skill {
  padding-top: 0em;
}
.list {
  font-family: "Prompt", sans-serif;
  font-size: 1.56em;
  color: #050622;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 1.25em;
  margin-bottom: 0px;
  list-style-type: none;
}
.skill-info {
  font-family: "Prompt", sans-serif;
  font-size: 1.56em;
  color: #050622;
  margin-left: 2.5em;
}
#game-dev-skill {
  padding-top: 0.4em;
}
.faded-text {
  font-family: "Prompt", sans-serif;
  color: #8b8b93;
}
.qr-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.qr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}
#qr-text {
  font-size: 0.94em;
}

#qr-pic {
  padding-top: 1.56em;
  width: 50%;
  max-width: 25.625em;
}
.exp {
  padding-top: 1.78em;
}
div.exp > * {
  padding-bottom: 0.81em;
}
#work-exp-head {
  padding-bottom: 1.225em;
}

#sub-heading-exp {
  width: fit-content;
}

.exp-paragraph {
  max-width: 55.625em;
  line-height: 1.2;
  font-family: "Prompt", sans-serif;
  font-size: 1.56em;
  color: #050622;
}
#last-exp-para {
  padding-bottom: 0.5em;
}

.education {
  padding-bottom: 1em;
}
.edu-paragraph {
  line-height: 1.6;
}
div.education > * {
  padding-bottom: 1.41em;
}

.cert-training {
  padding-bottom: 0.94em;
}
#cert-heading {
  padding-bottom: 1.875em;
}

#cert-list {
  line-height: 1.2;
  list-style-type: disc;
}
#per-proj-heading {
  padding-bottom: 1.25em;
}
.proj-list-child {
  line-height: 1.2;
  padding-bottom: 0.4em;
}
.interest-heading {
  padding-bottom: 0.8em;
}

#interest-list {
  list-style-type: disc;
}

.external-link-icon {
  padding-left: 0.5em;
  width: 3%;
}
.app-icon {
  padding-left: 0.5em;
  width: 5%;
}
