/*---- Title ----*/
html {
  height: 3510px;
    width: 2487px;
}
body{
  display: flex;
}
.left-side{
  display: flex;
  flex-direction: column;
}
.right-side{
  display: flex;
  flex-direction: column;
}
  .container-color {
    max-width: 734px;
    max-height: 503px;
    padding-left: 80px;
    padding-top: 260px;
    padding-bottom: 280px;
    padding-right: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #030325;
  }
  .name{
    font-family: 'OCR A Extended';
    font-size: 50px;
    color: white;
  }
  .title{
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    color: white;
  }
  .container {
    max-width: 734px;
    max-height: 503px;
    padding-left: 80px;
    padding-top: 260px;
    padding-bottom: 280px;
    padding-right: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
  }