/*---- Title ----*/

body{
  display: flex;
  margin: 0px;
}
.left-side{
  display: flex;
  flex-direction: column;
  margin-left: 4.0625em;
}
.right-side{
  display: flex;
  flex-direction: column;
  max-width: 90.875em;
}
  .container-color {
    max-width: 45.875em;
    max-height: 36.4375em;
    padding-left: 5em;
    padding-top: 16.25em;
    padding-bottom: 20.625em;
    padding-right: 3.75em;
    margin-bottom: 2.8125em;
    background-color: #030325;
  }
  .name{
    font-family: 'OCR A Extended';
    font-size: 3.125em;
    color: white;
  }
  .job{
    font-family: 'Prompt', sans-serif;
    font-size: 3.4375em;
    font-weight: 100;
    color: white;
    padding-top: 2.75em;
  }
  .heading{
    font-family: 'OCR A Extended';
    font-size: 3.75em;
    color: #050622;
    padding-bottom: 0.75em;
    font-weight: bold;
  }
  .p-info{
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    padding-bottom: 5.625em;
    padding-right: 3.125em;
    padding-top: 4.5625em;
  }
  .p-info-child{
    font-family: 'Prompt', sans-serif;
    font-size: 3.125em;
    line-height: 1.9em;
    color: #050622;
    display: flex;
  }

  .left-align{
padding-right: 2em ;
  }

  .profile{
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    padding-bottom: 4.6875em;
    padding-right: 3.125em;
  }
  .paragraph{
    max-width: 21.3125em;
    line-height: 1.2em;
    font-family: 'Prompt', sans-serif;
    font-size: 3.125em;
    color: #050622;
  }

  .pro-paragraph{
    max-width: 21.3125em;
    line-height: 1.8em;
    font-family: 'Prompt', sans-serif;
    font-size: 3.125em;
    color: #050622;
  }
  .skills{
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    padding-bottom:  8.4375em;
    padding-right: 3.125em;
    max-width: 80.25em;
  }

  .sub-heading{
    font-family: 'Prompt', sans-serif;
    font-size: 3.125em;
    font-weight: bold;
    color: #050622;
  }
  .list{
    font-family: 'Prompt', sans-serif;
    font-size: 3.125em;
    color: #050622;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 2.5em;
    margin-bottom: 0px;
  }
  .skill-info{
    font-family: 'Prompt', sans-serif;
    font-size: 3.125em;
    color: #050622;
    margin-left: 5em
  }
  .faded-text{
    font-family: 'Prompt', sans-serif;
    color: #8b8b93;
  }
  .qr{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  #qr-text{
    font-size: 1.875em
  }
  #qr-pic{
    width: 20%;
  }
  .exp{
    padding-top: 5.5625em;
    padding-bottom: 1.25em;
  }
  div.exp> * {padding-bottom: 1.6125em;}

  .exp-paragraph{
    max-width: 111.25em;
    line-height: 1.2;
    font-family: 'Prompt', sans-serif;
    font-size: 3.125em;
    color: #050622;
  }
  .education{
    padding-bottom: 3.75em;
  }
  div.education> * {padding-bottom: 2.8125em;}

  .cert-training{
    padding-bottom: 1.875em;
  }
    #cert-heading{
      padding-bottom: 3.75em;
    }

  #cert-list{
    line-height: 1.2;
  }
  #per-proj-heading{
    padding-bottom: 2.5em;
  }
  .proj-list-child{
    line-height: 1.2;
    padding-bottom: 2.2em;
  }
  
  #proj-list-child-2{
    padding-bottom:  2.1875em;
  }
  div.interest> * {padding-bottom: 2.8125em;}